.btn {
  //box-shadow: 0 .1rem .1rem 0 rgba(0,0,0,.1) !important;
  padding: 0.65rem 1.5rem;
  font-family: 'Lato', sans-serif;
  font-size: 80%;
  letter-spacing: .05rem;
  text-transform: uppercase;
  border: 0;
}

.btn-primary {
  background-color: $adzuki;
  &:hover {
    background-color: darken($adzuki, 10%);
  }
  &:focus {
    background-color: darken($adzuki, 10%);
    color: white;
  }
  &:active {
    background-color: darken($adzuki, 15%) !important;
  }
}

.btn-secondary {
  background-color: $sabitetsu;
  &:hover {
    background-color: darken($sabitetsu, 10%);
  }
  &:focus {
    background-color: darken($sabitetsu, 10%);
    color: white;
  }
  &:active {
    background-color: darken($sabitetsu, 15%) !important;
  }
}
