.contact-section {
  @media (max-width: 320px) {
    display: none;
  }
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: url('../img/bg-gray.png');
  .card {
    border: 0;
    border-bottom: 0.25rem solid $primary;
    h4 {
      font-size: 0.8rem;
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
    }
    hr {
      border-color: $primary;
      border-width: 0.25rem;
      width: 3rem;
    }
  }
  .social {
    a {
      text-align: center;
      height: 3rem;
      width: 3rem;
      background: fade-out(black, 0.9);
      border-radius: 100%;
      line-height: 3rem;
      color: fade-out(black, 0.7);
      &:hover {
        color: fade-out(black, 0.5);
      }
      &:active {
        color: black;
      }
    }
  }
  .iframe-container {
    @media(min-width: 321px) {
      width: 390px;
    }

    //height: 750px;

    border: 0;
    left: 0;
    top: 0;
  }
}
