.footer-section {
  font-size: 80%;
  color: $black;

  .footer-info-row {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $gray-200;
  }

  .footer-copyright-row {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $gray-300;
  }

  .copyright {
    color: $gray-600;
  }

  .footer_link {
    a {
      &:hover
      &:focus
      &:active {
        color: $adzuki;
      }
    }
  }
}

