.footer-section {
  font-size: 60%;
  color: $gray-600;

  @media (min-width: 992px) {
    font-size: 80%;
  }

  .footer-info-row {
    padding-top: 1rem;
    padding-bottom: 1rem;
    //background: url('../img/bg-wave.png') scroll;
    //background-color: $gray-200;
  }

  .footer-copyright-row {
    //padding-top: 1rem;
    //padding-bottom: 1rem;
    //background-color: $gray-200;
  }

  .copyright {
    color: $gray-600;
  }

  .footer_link {
    a {
      color: $gray-600 !important;
      &:hover
      &:focus
      &:active {
        color: $adzuki;
      }
    }
  }
}

.about-section-foot {
  padding-top: 3rem;
  padding-bottom: 1rem;

  border-bottom: 10px solid $secondary;

  background: $white;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;

  .intro {
    position: relative;
  }

  .about-text {
    font-size: 1.2rem;
  }

  .section-heading {
    text-transform: uppercase;
    .section-heading-upper {
      display: block;
      font-size: 1.2rem;
    }
    .section-heading-lower {
      display: block;
      @media (min-width: 992px) {
        font-size: 3rem;
        font-weight: bold;
      }
    }
  }

  @media (min-width: 992px) {
    .about-heading-img {
      position: relative;
      z-index: 0;
    }
    .about-heading-content {
      margin-top: -4.5rem;
      position: relative;
      z-index: 1;
    }
  }
}
