#mainNav {
  min-height: 2rem;
  font-weight: 800;
  font-size: 110%;
  background-color: transparent;

  .navbar-toggler {
    border-color: $black;
    &:focus {
      outline: none;
    }
  }
  .navbar-toggler-icon {
    color: $black;
  }
  .navbar-brand {
    position: relative;
    background: url(../img/logo.png);
    width: 70px;
    height: 70px;
    left: 0;
    background-size: contain;
  }
  .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: $black;
    &:hover,
    &:active {
      color: $adzuki;
    }
  }
  @media (min-width: 900px) {
    padding-top: 0;
    padding-bottom: 0;
    transition: background-color 0.3s ease-in-out;
    &.navbar-shrink {
      border-bottom: 1px solid $gray-300;
      background-color: $white;
      .navbar-brand {
        position: relative;
        background: url(../img/logo-small.png);
        width: 50px;
        height: 50px;
        background-size: contain;
      }
      .nav-link {
        padding: 1.5rem 1.5rem 1.25rem;
      }
    }
  }
}

.nav-header {
  padding-top: 3rem;
  padding-bottom: 3.5rem;
}

