#mainNav {
  padding-left: 15px;
  padding-right: 15px;
  min-height: 2rem;
  font-size: 110%;
  background-color: $white;

  display: flex;

  .nav-item {
    display: flex;
    align-items: center;
  }

  .navbar-toggler {
    border-color: $black;
    border-radius: 0;
    border-width: 0;

    &:focus {
      outline: $black;
      border-width: 1px;
    }
  }
  .navbar-toggler-icon {
    color: $black;
  }
  .navbar-brand {
    position: relative;
    background: url(../img/22/logo.png);
    width: 150px;
    height: 55px;
    background-size: contain;
  }
  .nav-link {
    font-weight: 600;
    padding: 0.5rem 0rem;
    background: none;
    border: none;
    color: $primary;
    font-size: 130%;
    cursor: pointer;
    &:hover,
    &:active {
      color: $adzuki;
    }
  }
  @media (min-width: 900px) {
    background-color: $white;
    transition: background-color 0.3s ease-in-out;

    .nav-link {
      padding: 1rem 1.5rem;
      font-size: 120%;
    }

    &.navbar-shrink {
      border-bottom: 1px solid $gray-300;
      background-color: $white;
      .navbar-brand {
        position: relative;
        background: url(../img/22/logo-s.png);
        width: 60px;
        height: 50px;
        background-size: contain;
        .nav-link {
          font-size: 0.7rem;
          padding: 1rem 0rem;
        }
      }
    }
  }
}

.nav-header {
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}

