.projects-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: $white;

  h2 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .card {
    border-radius: 0 !important;
  }

  .card-img-top-sm {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 0 !important;
  }

  .card-img-top {
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 0 !important;
  }

  .card-title{
    color: $adzuki;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .card-text {
    font-size: 1.2rem;
  }

  .featured-text {
    padding: 2rem;
  }
  .text-primary {
    text-transform: uppercase;
    font-weight: bold;
  }
  .img-darker {
    filter: brightness(60%);
  }
  .cei-spark{
    max-width: 300px;
  }
  .project-text {
    padding: 2rem;
    font-size: 90%;
    @media (min-width: 992px) {
      padding: 5rem;
      hr {
        border-color: $primary;
        border-width: .25rem;
        width: 30%;
      }
    }
  }
  .portfolio-item {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 530px;
    margin: auto auto 0.5rem;
    .caption {
      display: flex;
      height: 100%;
      width: 100%;
      //background-color: fade-out($gray-900, 0.8);
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      .caption-content {
        color: $gray-200;
        margin: auto 2rem; //2rem;
        h2 {
          font-size: 1.2rem;
          text-transform: capitalize;
        }
        p {
          font-weight: 300;
          font-size: 1rem;
        }
      }
    }
    @media(min-width: 992px) {
      max-width: none;
      margin: 0;
      .caption {
        -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
        -webkit-clip-path: inset(0px);
        clip-path: inset(0px);
        .caption-content {
          color: $gray-500;
          transition: opacity 0.25s;
          margin-left: 3rem;
          margin-right: 3rem;
          margin-bottom: 3rem;
        }
      }
      img {
        -webkit-transition: -webkit-clip-path 0.25s ease-out;
        -webkit-clip-path: inset(-1px);
        clip-path: inset(-1px);
        filter: brightness(35%);
      }
      &:hover {
        img {
          -webkit-clip-path: inset(0.5rem);
          clip-path: inset(0.5rem);
          background-color: transparent;
          filter: brightness(70%);
        }
        .caption {
          .caption-content {
            color: $gray-200;
          }
          background-color: transparent;
          -webkit-clip-path: inset(1rem);
          clip-path: inset(1rem);
        }
      }
    }
  }
}

.product-item {
  .section-heading-lower {
    font-size: 2.2rem;
  }

  @media (max-width: 320px) {
    .section-heading-lower {
      font-size: 1.5rem;
    }
  }

  @media (min-width: 992px) {
    .product-item-title {
      position: relative;
      z-index: 1;
      margin-bottom: -3rem;
    }
    .product-item-img {
      position: relative;
      z-index: 0;
      width: 80%;
    }
    .product-item-description {
      position: relative;
      z-index: 1;
      margin-top: -3rem;
      max-width: 50vw;
    }
    .product-item-iframe {
      position: relative;
      height: 720px;
      //max-height: 480px;
      z-index: 0;
      width: 80%;
    }
  }

  @media (min-width: 1200px) {
    .product-item-title {
      position: relative;
      z-index: 1;
      margin-bottom: -3rem;
    }
    .product-item-img {
      position: relative;
      z-index: 0;
      min-width: 80%;
      max-width: 50vw;
    }
    .product-item-description {
      position: relative;
      z-index: 1;
      margin-top: -3rem;
      max-width: 50vw;
    }
    .product-item-iframe {
      position: relative;
      width: 100%;
      height: 720px;
      //max-height: 480px;
      z-index: 0;
      min-width: 80%;
      max-width: 50vw;
    }
  }
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
  .featured-text {
    //padding: 2rem;
    color: $shironeri;
  }
}

.project-page-title {
  background: $white;
  //height: 800px;
  //display: flex;
  //flex-direction: column;
  //padding: 15px;

  .intro-img{
    width:100%;
    float:right;
    height: auto;
    //max-height:600px;
  }

  .section-heading-upper {
    font-weight: 800;
  }

  @media (min-width: 992px) {
    height: 600px;
    .intro-img{
      width:70%;
      float:right;
      height: auto;
      //max-height:600px;
    }
  }
}

.project-page-content {
  font-size: 100%;
  .content-point:before {
    content:"• ";
  }
}

