// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #161616 !default;

//$primary: #64a19d !default;
$primary: #2b3037 !default;
$secondary: #37322B !default;

$shironeri: #FCFAF2 !default;
$sabitetsu: #2b3037 !default;
//$sabitetsu: #485859 !default;
//$adzuki: #944944 !default;
//$tairan: #37485A !default;
$tairan: #2b3037 !default;
$adzuki: #7F7363 !default;


// Font overrides
$font-family-sans-serif: 'Lato', sans-serif !default;

$font-family-serif: 'Lato', sans-serif !default;

$font-family-base: $font-family-serif !default;

$headings-font-family: $font-family-sans-serif !default;