.videoheader {
  position: relative;
  height: 40vh;
  min-height: 40rem;
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $gray-100;
    //background: rgb(255,255,255);
    //background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%);
    opacity: 0.7;
    z-index: 1;
  }

  @media (pointer: coarse) and (hover: none) {
    background: url('/img/photo-japan.jpeg') black no-repeat center center scroll;

    video {
      display: none;
    }
  }
  @media(min-width: 768px) {
    h1 {
      font-size: 4.5rem;
      font-weight: 800;
      line-height: 5rem;
      color: $black;
    }
    h2 {
      font-size: 2rem;
      color: $black;
    }
  }
  @media(max-width: 767px) {
    color: $black;
    h1 {
      font-size: 3rem;
      font-weight: bold;
      line-height: 3rem;
      color: $black;
    }
    h2 {
      font-size: 1.5rem;
      color: $black;
    }
  }
}