.videoheader {
  position: relative;
  //background: linear-gradient(to top, #{fade-out($shironeri, .99)} 80%,#{fade-out($shironeri, .5)} 90%,$shironeri 100%),
  //url('../img/photo-japan.jpeg');
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $sabitetsu;
    opacity: 0.4;
    z-index: 1;
  }

  @media (pointer: coarse) and (hover: none) {
    background: url('/img/photo-japan.jpeg') black no-repeat center center scroll;

    video {
      display: none;
    }
  }
  @media(min-width: 768px) {
    height: 75vh;
    h1 {
      font-size: 3rem;
      line-height: 3rem;
    }
    h2 {
      font-size: 2rem;
    }
  }
  @media(max-width: 767px) {
    height: 45vh;
    h1 {
      font-size: 2rem;
      line-height: 3rem;
    }
    h2 {
      font-size: 1.3rem;
    }
  }
}