@import 'variables.scss';
@import 'mixins.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'buttons.scss';
@import 'about.scss';
@import 'projects.scss';
@import 'signup.scss';
@import 'contact.scss';
@import 'timeline.scss';
@import 'videoheader.scss';
@import 'others.scss';
@import 'footer.scss';
@import 'news.scss';
@import 'video.scss';
@import 'impact.scss';

body {
  font-family: 'Lato', sans-serif;

  //background: linear-gradient(rgba(72,88,89,0.55)), url('../img/bg-about.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  @media (min-width: 1400px) {
    .container {
      max-width: 66%;
    }
  }
  //letter-spacing: 0.0625em;
}

a {
  color: $adzuki;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($adzuki, 20%);
  }
}

.btn {
  margin-bottom: 4px;
}

.bg-wave {
  background: url('../img/bg-wave.png') no-repeat scroll center;
}

.bg-gray-pattern {
  background: url('../img/bg-gray.png') scroll center;
}

.bg-blue-pattern {
  background: url('../img/bg-blue.png') scroll left;
}

.bg-activity {
  background: url('../img/bg-cei.jpg') scroll center;
  background-size: cover;
}

.bg-kyoto {
  background:
          /* top, transparent black, faked with gradient */
          linear-gradient(
                          rgba(0, 0, 0, 0.3),
                          rgba(0, 0, 0, 0.0)
          ), url("/img/kyoto.jpg") no-repeat scroll;
  background-size: cover;
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $sabitetsu !important;
}

.bg-primary-light {
  background-color: fade-out($shironeri, .85) !important;
}

.bg-light {
  background-color: fade-out($shironeri, .85) !important;
}

.bg-shiro {
  background-color: $shironeri !important;
}

.bg-dairan {
  background-color: $tairan !important;
}

.bg-adzuki {
  background-color: $adzuki !important;
}

.bg-gray-100 {
  background-color: $gray-100 !important;
}

.text-light {
  color: $shironeri !important;
}

.text-sabi {
  color: $sabitetsu !important;
}

.text-black {
  color: $black !important;
}
.bg-dark {
  background-color: #212529 !important;
}

.bg-light-blue {
  background-color: lighten(#e3f2fd, 4%) !important;
}

.bg-red {
  background-color: $secondary !important;
}

.text-primary {
  color: $sabitetsu !important;
}

.text-shiro {
  color: $shironeri !important;
}

.featured-text {
  font-family: 'Lato', sans-serif;
}

.bg-semi-transparent {
  background-color: fade-out($shironeri, .85) !important;
}